<h1>Cosul de Cumparaturi</h1>
<div class="row col-10">
  <p>
    Aveti {{shoppingCartItemCount}} produse in cosul de cumparaturi.
      <!--button to clear the shopping-cart-->
  <button (click)="clearCart()" class="btn btn-light btn-sm" *ngIf="shoppingCartTotalQuantity>0">Goleste cosul de Cumparaturi</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">Produs</th>
        <th class="text-center">Cantitate</th>
        <th class="text-right">Pret</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of cartItems">
        <td style="width: 110px" *ngIf="item.quantity>0">
          <!--Incorporated into a div,  since we do not want to have problems while resizing the img-->
          <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td *ngIf="item.quantity>0" class="text-left">{{ item.product.title }}</td>
        <td *ngIf="item.quantity>0" style="width: 250px" class="text-center">
          <button (click)="removeFromCart(item.product)" style="width: 25px" class="btn btn-secondary btn-block" class="text-center"> - </button>
          {{  item.quantity  }}
          <button (click)="addToCart(item.product)" style="width: 25px" class="btn btn-secondary btn-block" class="text-center"> + </button>
        </td>
        <td *ngIf="item.quantity>0" style="width: 200px" class="text-right">{{  item.product.price * item.quantity | currency: 'RON': true }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right"> {{ shoppingCartTotalQuantity | currency: 'RON': true }} </th>
      </tr>
    </tfoot>
  </table>
  <!--button for Check-out action, if clicked sent it to the check-out page-->
   <a class="btn btn-primary" *ngIf="shoppingCartTotalQuantity>0"
     routerLink="/check-out">Finalizeaza Comanda</a>
</div>